body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    border-bottom: 1px solid white;
}

.logo {
    color: #00b300;
    font-size: 22px;
    font-weight: bold;
}

.discount {
    background-color: purple;
    color: black;
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: bold;
}


.nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15px 0;
    border-bottom: 1px solid white;
}

.nav a {
    color: white;
    text-decoration: none;
}

.active {
    font-weight: bold;
}


.main-title {
    text-align: center;
    font-size: 48px;
    margin-top: 40px;
}

.subtitle {
    text-align: center;
    margin-bottom: 40px;
}


.about-box {
    background-color: #e5e5e5;
    color: black;
    width: 70%;
    margin: 0 auto 50px auto;
    padding: 30px;
    border-radius: 40px;
}

.about-box h3 {
    text-align: center;
}


.footer {
    background-color: #ddd;
    color: black;
    text-align: center;
    padding: 20px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.socials img {
    width: 50px;
}
